# Database
POSTGRES_USER=mon_user_prive
POSTGRES_PASSWORD=mon_password_ultra_secret
POSTGRES_DB=sentinel

# App
DATABASE_URL=postgres://mon_user_prive:mon_password_ultra_secret@db:5432/sentinel
REDIS_HOST=redis
DOCKERHUB_USERNAME=dididenoble
