# Database
POSTGRES_USER=mon_user_prive
POSTGRES_PASSWORD=mon_password_ultra_secret
POSTGRES_DB=sentinel

# App
PORT=3000
DATABASE_URL=postgres://mon_user_prive:mon_password_ultra_secret@db:5432/sentinel
REDIS_HOST=redis
REDIS_PORT=6379
NODE_ENV=development

# Security
JWT_SECRET=un_secret_tres_long_et_complexe
JWT_EXPIRES_IN=3600s
THROTTLE_TTL=60000
THROTTLE_LIMIT=10

# Docker
DOCKERHUB_USERNAME=dididenoble

# SMTP (Mailtrap/Brevo)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=votre_user
SMTP_PASS=votre_pass
SMTP_FROM=noreply@sentinel.api
